<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/styles/bootstrap")
    <link rel="stylesheet" href="~/Content/site.css"/>
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/modernizr")
    @Scripts.Render("~/scripts/bootstrap")
    <script src="~/Scripts/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
